* {
    font: "JetBrainsMonoNL Nerd Font Propo 12";

    background:      #1b1519FF;
    background-alt:  #2f242bFF;

    foreground:      #d2ccd2FF;

    selected:        #40003aFF;

    active:          #c7a3bfFF;
    urgent:          #cc5555FF;
}