@use "../theme" as theme;

@mixin bar-surface {
  background-color: theme.$surface;
  border: theme.$border-width solid theme.$border;
}

@mixin reset-flat-surface {
  margin: 0px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
}

@mixin reset-flat-button {
  @include reset-flat-surface;
  box-shadow: none;
  min-width: 0px;
  min-height: 0px;
}
