* {
    font: "JetBrainsMonoNL Nerd Font Propo 12";

    background:      #2D353BFF;
    background-alt:  #3D484DFF;
    foreground:      #D3C6AAFF;
    accent:          #6c7c53FF;

    highlight:        #83C092FF;

    active:          #A7C080FF;
    urgent:          #E67E80FF;
}